html {
    height: 100%;
}

body {
    padding-top: 70px;
    height: 100%;
}

footer {
    color: #666;
    background: #f5f5f5;
    padding: 2px 0 5px 0;
    font-size: 85%;
}

section {
    padding-top:70px;
    margin-top:-70px;
}

.leader {
    background: #ffffff;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


.flex-item {
  margin: 10px auto;
}

.rotate{
	display: inline;
}

.rotate-words span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	animation: rotateWord 18s linear infinite 0s;
}

/*Offset text colored to white so that spacing is avalible for responsive design*/
.rotate-block{
    color: white;
}

.rotate-words span:nth-child(2) { 
	animation-delay: 3s;
}
.rotate-words span:nth-child(3) { 
	animation-delay: 6s;
}
.rotate-words span:nth-child(4) { 
	animation-delay: 9s;
}
.rotate-words span:nth-child(5) { 
	animation-delay: 12s;
}
.rotate-words span:nth-child(6) {  
	animation-delay: 15s;
}

@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}

.social-icon {
    color:black;
}

.social-twitter:hover {
    color: #00aced;
}

.social-linkedin:hover {
    color: #007bb6;
}

.social-github:hover {
    color: darkslateblue;
}

.social-angellist:hover {
    color:darkgreen;
}


.profile-image {
    max-height: 192px;
}